<div class="text-white px-4 py-6 scroll-mt-10" id="about">
	<div class="flex flex-col md:flex-row items-center md:justify-between md:space-x-6 md:gap-x-24">
		<div class="">
			<h2 class="text-4xl font-bold mb-4">
				Hola, soy <span class="bg-clip-text text-transparent bg-gradient-to-l from-blue-300 to-green-400">Heri</span>
			</h2>
			<p class="text-xl leading-9 text-justify sm:text-start">
				Soy un apasionado por el desarrollo web y el mundo de la programación. Mi interés por esta profesión empezó hace dos años
				cuando escribí mi primer linea de código, desde entonces me he enfocado en desarrollar aplicaciones web eficaces,
				accesibles y divertidos. Tengo habilidades para resolver problemas, encontrar nuevos desafios y aprender diariamente.
			</p>
		</div>
		<div class="shrink-0">
			<img class="h-80 w-64" src="https://creativedesignsguru.com/demo/astro-boilerplate/assets/images/avatar.svg" alt="Avatar" />
		</div>
	</div>
</div>
