<main class="mx-auto container text-white p-4 mt-4">
	<div class="space-y-4">
		<h1 class="text-4xl font-bold text-center">Frontend Developer</h1>
		<p class="text-center text-xl">Me encanta crear paginas y aplicaciones web</p>
	</div>
	<h2 class="text-2xl font-bold">
		Hi, my name is <span class="bg-clip-text text-transparent bg-gradient-to-l from-blue-300 to-green-400">
			Heri Roque Tello.</span
		>
	</h2>
	<p>
		Since beginning my journey as a freelance designer over 11 years ago, I've done remote work for agencies, consulted for
		startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly
		confident, naturally curious, and perpetually working on improving my chops one design problem at a time.
	</p>
</main>
