---
import { DiGithubBadge as Github } from 'react-icons/di';
import { AiFillLinkedin as Linkedin } from 'react-icons/ai';
---

<footer class="w-full h-16 flex justify-around items-center bg-black text-white text-xl">
	<p class="text-sm">Copyright © 2022 | Heri Roque Tello</p>
	<div class="flex flex-row gap-4 text-2xl">
		<a target="_blank" href="https://github.com/heriroquetello"><Github /></a>
		<a target="_blank" href="https://www.linkedin.com/in/heriroquetello/"><Linkedin /></a>
	</div>
</footer>
