---
---

<footer class="w-full h-16 flex justify-around items-center bg-black text-white text-xl">
	<p class="text-sm">Copyright © 2022 | Heri Roque Tello</p>
	<div class="flex flex-row gap-4 text-2xl">
		<a href="https://github.com/HeriRoqueTello" target="_blank" class="link"><i class="fa-brands fa-github-alt"></i></a>
		<a target="_blank" href="https://www.linkedin.com/in/heriroquetello/"><i class="fa-brands fa-linkedin"></i></a>
	</div>
</footer>
